* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.cobt {
    background: #242529;
    display: grid;
    grid-template-columns: 45% 55%;
    position: relative;
}

.picB {
    padding: 10px 5px;
    color: #f1f1f1;
    background: #323232;
}

.side2 {
    padding: 10px;
    padding-top: 20%;
}

.side2 h1 {
    color: #ffd106;
    font-size: 42px;
    text-shadow: 1px 1px 2px #c5c5c5;
    text-align: center;
}

.side2 div {
    padding: 10px;
    margin: 40px;
    background: #323232;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    -webkit-clip-path: polygon(0 7%, 8% 7%, 8% 0, 93% 0, 93% 8%, 100% 8%, 100% 92%, 93% 92%, 93% 100%, 7% 100%, 7% 92%, 0 92%);
    clip-path: polygon(0 7%, 8% 7%, 8% 0, 93% 0, 93% 8%, 100% 8%, 100% 92%, 93% 92%, 93% 100%, 7% 100%, 7% 92%, 0 92%);
}

.side2 p {
    margin: 25px;
    font-size: 19px;
    text-align: justify;
    color: #ffffffad;
}

.side2 button {
    background: #ffd106;
    color: #383838;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    transform: translateX(-50%)
}

@keyframes qasim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    /* transform: translate(-100%, 100%); */
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.modal form {
    position: absolute;
    width: 40%;
    animation: qasim 0.3s ease-in;
    height: 30%;
    background: #f1f1f1;
    top: 50%;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal input {
    width: 70%;
    font-size: 19px;
    margin-left: 15%;
    padding: 5px 10px;
    margin-top: 20px
}

.modal input[type=submit] {
    background: #202020;
    color: #fefefe;
}

.touchAll {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.rvButton {
    position: absolute;
    left: 85%;
    top: 5%;
    padding: 10px;
    /* width: 100%; */
    z-index: 3;
    display: inline-block;
    font-size: 17px;
    background: linear-gradient(1deg, #343434 50%, #fff 50%);
    background-position: right;
    background-size: 2000%;
    color: #242424;
    transition: all 0.2s ease-in-out;
}

.rvButton:hover {
    color: #f1f1f1;
    background-position: left;
}

.rvButton:active {
    color: #ffd106;
}